/* Move horizontally */
.movable-layer .animate-div.move-x {
    -webkit-animation: move-x 3s ease-in-out infinite alternate;
    animation: move-x 3s ease-in-out infinite alternate;
}

@-webkit-keyframes move-x {
    0% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-x {
    0% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* Move vertically */
.movable-layer .animate-div.move-y {
    -webkit-animation: translate-y 3s ease-in-out infinite alternate;
    animation: translate-y 3s ease-in-out infinite alternate;
}

@-webkit-keyframes translate-y {
    0% {
        transform: translateY(2vw);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes translate-y {
    0% {
        transform: translateY(2vw);
    }

    100% {
        transform: translateY(0);
    }
}

/* Move diagonally bottom left to top right */
.movable-layer .animate-div.move-bltp {
    -webkit-animation: translate-bltr 3s ease-in-out infinite alternate;
    animation: translate-bltr 3s ease-in-out infinite alternate;
}

@-webkit-keyframes translate-bltr {
    0% {
        transform: translate(-0.8vw, 0.8vw);
    }

    100% {
        transform: translate(0.8vw, -0.8vw);
    }
}

@keyframes translate-bltr {
    0% {
        transform: translate(-0.8vw, 0.8vw);
    }

    100% {
        transform: translate(0.8vw, -0.8vw);
    }
}

/* Flicker */
.movable-layer .animate-div.flicker {
    -webkit-animation: flicker 3s linear infinite alternate;
    animation: flicker 3s linear infinite alternate;
}

@-webkit-keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    32.98% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    34.02% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.9% {
        opacity: 0;
    }

    35.92% {
        opacity: 1;
    }

    38.98% {
        opacity: 1;
    }

    39% {
        opacity: 0;
    }

    39.8% {
        opacity: 0;
    }

    39.82% {
        opacity: 1;
    }

    83.98% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    84.9% {
        opacity: 0;
    }

    84.92% {
        opacity: 1;
    }
}

@keyframes flicker {

    0%,
    100% {
        opacity: 1;
    }

    32.98% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    34.02% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.9% {
        opacity: 0;
    }

    35.92% {
        opacity: 1;
    }

    38.98% {
        opacity: 1;
    }

    39% {
        opacity: 0;
    }

    39.8% {
        opacity: 0;
    }

    39.82% {
        opacity: 1;
    }

    83.98% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    84.9% {
        opacity: 0;
    }

    84.92% {
        opacity: 1;
    }
}

/* Heart Beat */
.movable-layer .animate-div.heart-beat {
    -webkit-animation: heart-beat 2s ease-in-out infinite alternate;
    animation: heart-beat 2s ease-in-out infinite alternate;
}

@-webkit-keyframes heart-beat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes heart-beat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/* Shake Middle */
.movable-layer .animate-div.shake-m {
    -webkit-animation: shake-m 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
    animation: shake-m 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
}

@-webkit-keyframes shake-m {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    10% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    90% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

@keyframes shake-m {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    10% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    90% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

/* Shake Top Right */
.movable-layer .animate-div.shake-tr {
    -webkit-animation: shake-m 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
    animation: shake-m 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
}

@-webkit-keyframes shake-tr {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-tr {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

/* Wobble */
.movable-layer .animate-div.wobble {
    -webkit-animation: wobble 3s infinite alternate;
    animation: wobble 3s infinite alternate;
}

@-webkit-keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateY(-2vw) rotate(6deg);
        transform: translateY(-2vw) rotate(6deg);
    }

    30% {
        -webkit-transform: translateY(1vw) rotate(-6deg);
        transform: translateY(1vw) rotate(-6deg);
    }

    45% {
        -webkit-transform: translateY(-1vw) rotate(2.8deg);
        transform: translateY(-1vw) rotate(2.8deg);
    }

    60% {
        -webkit-transform: translateY(0.8vw) rotate(-2.4deg);
        transform: translateY(0.8vw) rotate(-2.4deg);
    }

    75% {
        -webkit-transform: translateY(-0.7vw) rotate(1.2deg);
        transform: translateY(-0.7vw) rotate(1.2deg);
    }
}

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateY(-2vw) rotate(6deg);
        transform: translateY(-2vw) rotate(6deg);
    }

    30% {
        -webkit-transform: translateY(1vw) rotate(-6deg);
        transform: translateY(1vw) rotate(-6deg);
    }

    45% {
        -webkit-transform: translateY(-1vw) rotate(2.8deg);
        transform: translateY(-1vw) rotate(2.8deg);
    }

    60% {
        -webkit-transform: translateY(0.8vw) rotate(-2.4deg);
        transform: translateY(0.8vw) rotate(-2.4deg);
    }

    75% {
        -webkit-transform: translateY(-0.7vw) rotate(1.2deg);
        transform: translateY(-0.7vw) rotate(1.2deg);
    }
}

/* Bounce top */
.movable-layer .animate-div.bounce-t {
    -webkit-animation: bounce-t 3s infinite alternate;
    animation: bounce-t 3s infinite alternate;
}

@-webkit-keyframes bounce-t {
    0% {
        -webkit-transform: translateY(-1vw);
        transform: translateY(-1vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-2vw);
        transform: translateY(-2vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-1vw);
        transform: translateY(-1vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-0.8vw);
        transform: translateY(-0.8vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-0.6vw);
        transform: translateY(-0.6vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-t {
    0% {
        -webkit-transform: translateY(-1vw);
        transform: translateY(-1vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-2vw);
        transform: translateY(-2vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-1vw);
        transform: translateY(-1vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-0.8vw);
        transform: translateY(-0.8vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-0.6vw);
        transform: translateY(-0.6vw);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}