@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Solway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #F0F2EF;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Loader */
.loader-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 26, 0.5);
    background-color: color-mix(in srgb, var(--scene-dark-color) 60%, transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1000;
    cursor: wait;
    text-align: center;
    color: #F2F2F2;
    -webkit-animation: fade-in 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: fade-in 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.loader-overlay.fade-out {
    -webkit-animation: fade-out 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: fade-out 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.loader-overlay .loader-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-overlay .loader-image {
    width: 60%;
    margin: auto;
}

.loader-overlay .loader-image i {
    color: var(--scene-light-color);
    font-size: clamp(none, 25vh, 15vw);
}

.loader-overlay .loader-box p {
    font-size: 1.2rem;
    margin-top: 0;
}

/* Hide mobile */
.mobile-not-compatible {
    display: block;
    text-align: center;
    padding: 1.8rem 1rem;
    margin: 0.6rem;
}

.main-wrapper-scene {
    display: none;
}

.mobile-not-compatible div {
    background-color: #F0F2EF;
    border-radius: 1.5rem;
    padding: 1rem;
}

.mobile-not-compatible i {
    font-size: 6rem;
    color: #42783B;
}

.mobile-not-compatible h1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 4rem;
    line-height: 0.9;
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
    color: #42783B;
    text-shadow: 0 0 1rem rgba(25, 25, 26, 0.3);
}

.mobile-not-compatible p {
    margin-top: 0;
    font-size: 2rem;
    line-height: 0.95;
    color: #19191A;
}

.mobile-not-compatible img {
    margin-bottom: 0.5rem;
    width: 90%;
}

@media (orientation: landscape),
(min-width: 768px) {
    .mobile-not-compatible {
        display: none;
    }

    .main-wrapper-scene {
        display: block;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}