@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Solway:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #F0F2EF;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
}

b {
    font-weight: 600;
}

/* Sensory Warning Overlay */
.sensory-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(246, 248, 236, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999;
    text-align: center;
}

.sensory-overlay .sensory-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.8rem 1rem;
    background-color: var(--scene-light-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 1.5rem rgba(25, 25, 26, 0.3);
}

.sensory-overlay .sensory-icon i {
    color: var(--scene-dark-color);
    font-size: clamp(min(20vh, 10vw), 20vh, 10vw);
}

.sensory-overlay .sensory-box h1 {
    color: var(--scene-dark-color);
    font-size: 2.8rem;
    line-height: 0.9;
    margin: 5px auto;
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
}

.sensory-overlay .sensory-box p {
    font-size: 1.4rem;
    line-height: 0.95;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Loader */
.loader-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 26, 0.5);
    background-color: color-mix(in srgb, var(--scene-dark-color) 60%, transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1000;
    cursor: wait;
    text-align: center;
    color: #F2F2F2;
    -webkit-animation: puff-in 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.loader-overlay.fade-out,
.sensory-overlay.fade-out {
    -webkit-animation: puff-out 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: puff-out 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.loader-overlay .loader-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-overlay .loader-icon i {
    color: var(--scene-light-color);
    font-size: clamp(min(25vh, 15vw), 25vh, 15vw);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.loader-overlay .loader-box p {
    font-size: 1.2rem;
    margin-top: 0;
}

/* Share page */
.share-div {
    text-align: center;
    padding: 1.8rem 1rem;
    margin: 0.6rem;
    width: 90%;
}

.share-div div:not(.buttons-container) {
    background-color: #F0F2EF;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 1.5rem rgba(25, 25, 26, 0.3);
}

.share-div img {
    margin-bottom: 0.5rem;
    width: 90%;
}

/* Hide mobile */
.mobile-not-compatible {
    display: block;
    text-align: center;
    padding: 1.8rem 1rem;
    margin: 0.6rem;
}

.main-wrapper-scene {
    display: none;
}

.mobile-not-compatible div {
    background-color: #F0F2EF;
    border-radius: 1.5rem;
    padding: 1rem;
}

.mobile-not-compatible i,
.icon-share {
    font-size: 6rem;
    color: var(--scene-dark-color);
}

.mobile-not-compatible h1,
.share-div h1 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 2.8rem;
    line-height: 0.9;
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
    color: var(--scene-dark-color);
    text-shadow: 0 0 1rem rgba(25, 25, 26, 0.3);
}

.mobile-not-compatible p,
.share-div p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 0.95;
    color: #19191A;
}

.mobile-not-compatible img {
    margin-bottom: 0.5rem;
    width: 90%;
}

@media (orientation: landscape),
(min-width: 768px) {
    .mobile-not-compatible {
        display: none;
    }

    .main-wrapper-scene {
        display: block;
    }

    .share-div {
        width: 50%;
    }

    .share-div img {
        width: 40%;
    }
}

@-webkit-keyframes puff-in {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes puff-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
}

@keyframes puff-out {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
}